.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fix-input{
    display: flex;
    justify-content: center;
}

.custom-form{
    width: 500px;
}

.message{
    height:100px
}

.custom-form > *{
    margin-top: 20px;
}

.custom-alert{
    margin-top: 10px;
}

@media screen and (max-width: 640px){
    .custom-form{
        width: 300px;
    }
}

@media screen and (max-width: 400px){
    .custom-form{
        width: 200px;
    }
}