.footer{
    padding: 10px;
    background-color: #0dcaf0;
}

.footer > *{
    margin-left: 20px;
    margin-right: 20px;
}

.github{
    color: black;
}


.youtube{
    color: red;
}

.linkedin{
    color: #0a58ca;
}