.project {
    margin-top: 10px;
}

.descr{
    font-size: 16px;
}
.example {
  position: relative;
  padding: 0;
  width: 500px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: #070087;
  background-color: rgba(200, 200, 200, 0.5);
  width: 451px;
  height: 450px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.example .content:hover {
  opacity: 2;
}
.example .content .text {
  height: 0;
  opacity: 2;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.example .content:hover .text {
  opacity: 2;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
